# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

VITE_STREAM_API_KEY
VITE_STREAM_USER_TOKEN
VITE_CLOUDINARY_CLOUD_NAME
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
VITE_API_URL
VITE_STREAM_API_KEY
VITE_STREAM_USER_TOKEN
VITE_CLOUDINARY_CLOUD_NAME
